body {
  font-family: roboto, sans-serif;
  background-color: #ffffff;
  color: #212121;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}

button:hover,
button:focus {
  color: #2196f3;
}
.contacts-links:hover,
.contacts-links:focus {
  color: #2196f3;
}
